<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>RyandApp</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">
		
			<div class="modal">
				<form id="name-form">
					<label for="nickname">Your Nickname (optional)</label>
					<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">

					<input @click.prevent="submitName" type="submit">

				</form>
			</div>
	

		<div class="messages">
			<roommessage :msg="message" v-for="message in messages" class="room-message"></roommessage>

			<leavemessage :msg="message" v-for="message in messages" class="leave-message"></leavemessage>

			<ul id="messages" >
				<newmessage :msg="message" v-for="message in messages"></newmessage>
			</ul>
		</div>	
	

		<section class="form-container">

		<div class="container">
			<form>
				<label for="message">Something to say?</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea" onfocus="this.value=''"></textarea>

				<input @click.prevent="dispatchMessage" type="submit">

				<input @click.prevent="leaveRoom" type="submit" value="leave">
			</form>
		</div>

		
		</section>
	</main>

	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>


<!-- hide the textarea -->
<script>
document.querySelector('.container').style.visibility='hidden';
document.querySelector('.leave-message').style.visibility='hidden';</script>

</html>

